<link rel="stylesheet" href="css/chat.css">
<div class="modal-header">
    <h4 class="modal-title" role="heading">Chat Online</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <div id="chat">
        <div class="menu">
            <div class="name" id="name"></div>
            <div class="last" id="time"></div>
        </div>

        <div class="chat"></div>

        <input class="textarea" type="text" placeholder="Digita sua mensagem" id="textarea" />
    </div>
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/socket.io/socket.io.js"></script>
<script src="js/chatTemplate.js"></script>
<script>
    
iniciaChat('<%=encodeURIComponent(JSON.stringify(usuario))%>');
</script>