<div class="modal-header">
    <h4 class="modal-title" role="heading">Cadastro</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-header success" hidden>
    <h4 class="modal-title" role="heading">Cadastro Realizado com Sucesso!</h4>
    <button type="button" class="close close-success" data-dismiss="success">&times;</button>
</div>
<div class="modal-header error" hidden>
    <h4 class="modal-title" role="heading">Email jรก cadastrado!</h4>
    <button type="button" class="close close-error" data-dismiss="error">&times;</button>
</div>
<div class="modal-header bankerror" hidden>
    <h4 class="modal-title" role="heading">Estamos com problema no servidor, tente novamente!</h4>
    <button type="button" class="close close-error" data-dismiss="error">&times;</button>
</div>