<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Painel de controle</title>
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/autocomplete.css">
  <link href="../css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/index.css">

</head>

<body id="page-top">

  <% include ./partials/nav_admin.ejs %>

  <div id="wrapper">

    <!-- Sidebar -->
    <% include ./partials/ul_admin.ejs %>

    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="alert alert-primary user-online">
        </div>
          <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="painel">Página inicial</a>
              </li>
              <li class="breadcrumb-item active">Dashboard's</li>
            </ol>

            <!-- Area Chart Example-->
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-chart-area"></i>
                Exemplo de dashboard de Área</div>
              <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
              </div>
              <div class="card-footer small text-muted">Última atualização ...</div>
            </div>

            <div class="row">
              <div class="col-lg-8">
                <div class="card mb-3">
                  <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                    Exemplo de dashboard de barras</div>
                  <div class="card-body">
                    <canvas id="myBarChart" width="100%" height="50"></canvas>
                  </div>
                  <div class="card-footer small text-muted">Última atualização ...</div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card mb-3">
                  <div class="card-header">
                    <i class="fas fa-chart-pie"></i>
                    Exemplo de dashboard de pizza</div>
                  <div class="card-body">
                    <canvas id="myPieChart" width="100%" height="100"></canvas>
                  </div>
                  <div class="card-footer small text-muted">Última atualização ...</div>
                </div>
              </div>
            </div>

            <p class="small text-center text-muted my-5">
              <em>Mais charts em breve...</em>
              <div class="container my-auto">
                <div class="copyright text-center my-auto">
                  <span>Copyright © Task Control 2018</span>
                </div>
              </div>
            </p>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- /.content-wrapper -->
      </div>
      <!-- /#wrapper -->
      <aside role="complementary">
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <!-- Modal Header -->
              <% include ./partials/modal_header.ejs %>
              <!-- Modal body -->
              <% include ./partials/modal_body_adm.ejs %>

              <!-- Modal footer -->
              <div class="modal-footer" role="complementary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <aside role="complementary">
        <div class="modal fade" id="tarefaModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <!-- Modal Header -->
              <% include ./partials/modal_header.ejs %>
              <!-- Modal body -->
              <% include ./partials/modal_body_tarefas.ejs %>


              <!-- Modal footer -->
              <div class="modal-footer" role="complementary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <aside role="complementary">
        <div class="modal fade" id="chatModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <!-- Modal body -->
              <% include ./partials/modal_body_chat.ejs %>

              <!-- Modal footer -->
              <div class="modal-footer" role="complementary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

      <!-- Logout Modal-->
      <% include ./partials/logout_modal.ejs %>

      <!-- Bootstrap core JavaScript-->
      <script src="../vendor/jquery/jquery.min.js"></script>
      <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Core plugin JavaScript-->
      <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Page level plugin JavaScript-->
      <script src="../vendor/chart.js/Chart.min.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="../js/sb-admin.min.js"></script>

      <!-- Demo scripts for this page-->
      <script src="../js/demo/chart-area-demo.js"></script>
      <script src="../js/demo/chart-bar-demo.js"></script>
      <script src="../js/demo/chart-pie-demo.js"></script>
      <script src="../js/autocomplete.js"></script>
      <script src="../js/client.js"></script>
      <script>
        let envios = '<%=clientes%>';
        autocomplete(document.getElementById("myInput"), envios.split(','));
      </script>
</body>

</html>