<div class="rc-anchor-center-item rc-anchor-checkbox-holder">
    <span class="recaptcha-checkbox goog-inline-block recaptcha-checkbox-unchecked rc-anchor-checkbox recaptcha-checkbox-checked"
        role="checkbox" aria-checked="true" id="recaptcha-anchor" dir="ltr" aria-labelledby="recaptcha-anchor-label"
        aria-disabled="false" tabindex="0" style="overflow: visible;">
        <div class="recaptcha-checkbox-border" role="presentation" style="display: none;"></div>
        <div class="recaptcha-checkbox-borderAnimation" role="presentation" style=""></div>
        <div class="recaptcha-checkbox-spinner" role="presentation" style=""></div>
        <div class="recaptcha-checkbox-spinnerAnimation" role="presentation" style=""></div>
        <div class="recaptcha-checkbox-checkmark" role="presentation" style=""></div>
    </span></div>